<%- pbi_row_id = "pbi_#{pbi.id}_row" -%>
<%- is_simple = pbi.is_simple_pbi? -%>
<tr class="sprint-board" id="<%= pbi_row_id %>">
  <td class="sprint-board">
    <%- unless is_simple -%>
      <%= render :partial => 'post_its/sprint_board/pbi', :formats => [:html],
                 :locals => {:project => project,
                             :pbi => pbi,
                             :read_only => false} %>
    <%- end -%>
  </td>
  <%- # Include lost tasks -%>
  <%- tasks = pbi.tasks_by_status_id(true)
  -%>
  <%-
      # To decide if we will display the Lost Tasks column
      sprint_has_lost_tasks = pbi.sprint.has_lost_tasks?
  -%>
  <%- task_statuses.each do |status| -%>
    <%-
      # Task status id specific for lost statuses column
      # Css class for column + class to hide the cells if no lost task
      if status.id.nil?
        task_status_id = 'lost'
        class_lost_task = ' lost-task'
        class_lost_task += ' no-lost-task' unless sprint_has_lost_tasks
      else
        task_status_id = "#{status.id}"
        class_lost_task = ''
      end
      pbi_status_id = "pbi_#{pbi.id}_status_#{task_status_id}"
    -%>
    <%- other_pbi_status_ids = task_statuses.select{|other| other != status}.collect{ |other|
          other_task_status_id = other.id.nil? ? 'all' : "#{other.id}"
          "pbi_#{pbi.id}_status_#{other_task_status_id}"
        } -%>
    <td id="<%= pbi_status_id %>" class="sprint-board<%= class_lost_task %>">
      <%- if is_simple -%>
        <%- if pbi.status == status -%>
          <%= render :partial => 'post_its/sprint_board/pbi', :formats => [:html],
                     :locals => {:project => project,
                                 :pbi => pbi,
                                 :read_only => false} %>
        <%- end -%>
      <%- else -%>
        <%-
            # Calculate fake status to get all lost issues
            status_id = status.id.nil? ? 'lost' : status.id
            tasks_for_status = tasks[status_id]
            next if tasks_for_status.nil?

            tasks_for_status.each do |task| -%>
          <%= render :partial => 'post_its/sprint_board/task', :formats => [:html],
                     :locals => {:project => project,
                                 :task => task,
                                 :pbi_status_id => pbi_status_id,
                                 :other_pbi_status_ids => other_pbi_status_ids,
                                 :read_only => false,
                                 # New parameter to distinguish a lost task
                                 :lost_task => status.id.nil?} %>
        <%- end -%>
      <%- end -%>
    </td>
    <%= render :partial => 'post_its/sprint_board/pbi_status', :formats => [:js],
               :locals => {:project => project,
                           :pbi_id => pbi.id,
                           :pbi_status_id => pbi_status_id,
                           :status => status} %>
  <%- end -%>
</tr>
