<%= render :partial => "common/scrum_backlog_menu" %>

<h2>
  <%= l(:label_product_backlog_stats) %>
</h2>

<% content_for :header_tags do %>
  <%= javascript_include_tag "d3.#{Rails.env.development? ? "" : "min."}js", :plugin => "scrum" %>
  <%= javascript_include_tag "xcharts.min.js", :plugin => "scrum" %>
  <%= javascript_include_tag "nv.d3.#{Rails.env.development? ? "" : "min."}js", :plugin => "scrum" %>
  <%= stylesheet_link_tag "xcharts.min.css", :plugin => "scrum" %>
  <%= stylesheet_link_tag "nv.d3.#{Rails.env.development? ? "" : "min."}css", :plugin => "scrum" %>
<% end %>

<h3 align="center"><%= l(:label_hours_per_story_point) %></h3>
<div id="<%= @hours_per_story_point_chart[:id] %>">
  <svg style="height: <%= @hours_per_story_point_chart[:height] %>px;">
  </svg>
</div>
<%= render :partial => "sprints/bar_chart",
           :formats => [:js],
           :locals => {:graph => @hours_per_story_point_chart,
                       :element => {:label => l(:enumeration_activities), :name => :activity},
                       :rows => @hours_per_story_point} %>

<%= render :partial => "common/scrum_footer" %>