<%- defaults = Redmine::Plugin::registered_plugins[:scrum].settings[:default] -%>

<fieldset>
  <legend><%= l(:label_settings) %></legend>
  <p>
    <label><%= l(:label_setting_story_points_custom_field) %>:</label>
    <%- story_points_custom_fields = CustomField.find_all_by_type_and_field_format("IssueCustomField", "int")
        story_points_custom_field_options = options_for_select([["", 0]] + story_points_custom_fields.collect{|c| [c.name, c.id]}, (@settings["story_points_custom_field"] || defaults["story_points_custom_field"]).to_i) -%>
    <%= select_tag "settings[story_points_custom_field]", story_points_custom_field_options %>
  </p>
</fieldset>

<fieldset>
  <legend><%= l(:label_tracker_plural) %></legend>
  <p>
    <label><%= l(:label_user_story_plural) %>:</label>
    <%- user_story_trackers_options = options_for_select(Tracker.find(:all), @settings["user_story_trakers"]) -%>
    <%= select_tag "settings[user_story_trakers]", user_story_trackers_options, :multiple => true, :include_blank => true %>
  </p>
  <p>
    <label><%= l(:label_task_plural) %>:</label>
    <%- task_trackers_options = options_for_select(Tracker.find(:all), @settings["task_trakers"]) -%>
    <%= select_tag "settings[task_trakers]", task_trackers_options, :multiple => true, :include_blank => true %>
  </p>
</fieldset>
