<%= render :partial => "common/scrum_menu" %>

<h2><%= l(:label_sprint_board) %></h2>

<table class="sprint-board">
  <tr class="sprint-board">
    <th class="sprint-board"><%= l(:label_user_story_plural) %></th>
    <%- task_statuses = IssueStatus.task_statuses
        task_statuses.each do |status| -%>
      <th class="sprint-board"><%= status.name %></th>
    <%- end -%>
  </tr>
  <%- @sprint.user_stories.each do |user_story| -%>
    <tr class="sprint-board">
      <td class="sprint-board">
        <table class="<%= user_story.post_it_css_class %>">
          <tr>
            <td class="content" colspan="2">
              <%= link_to_issue(user_story, :tracker => false, :truncate => 150) %>
            </td>
          </tr>
          <tr>
            <td class="estimation">
              <%= "#{user_story.story_points} #{l(:label_story_point_unit, user_story.story_points)}" unless user_story.story_points.nil? %>
            </td>
          </tr>
        </table>
      </td>
      <%- tasks = user_story.tasks_by_status_id
          task_statuses.each do |status| -%>
        <td class="sprint-board">
          <table>
            <tr>
              <%- tasks[status.id].each do |task| -%>
                <td>
                  <table class="<%= task.post_it_css_class %>">
                    <tr>
                      <td class="content" colspan="2">
                        <%= link_to_issue(task, :tracker => false, :truncate => 100) %>
                        <div class="doers-reviewers-post-its-container">
                          <%- task.doers.each do |doer| -%>
                            <div class="<%= Issue.doer_post_it_css_class %>">
                              <%= link_to_user(doer) %>
                            </div>
                          <%- end -%>
                          <%- task.reviewers.each do |reviewer| -%>
                            <div class="<%= Issue.reviewer_post_it_css_class %>">
                              <%= link_to_user(reviewer) %>
                            </div>
                          <%- end -%>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="estimation">
                        <%= "#{task.estimated_hours.to_i} h" unless task.estimated_hours.blank? %>
                      </td>
                      <td class="spent">
                        <%- spent = task.spent_hours -%>
                        <%= "#{spent.to_i} h" unless spent.blank? or (spent.to_i == 0) %>
                      </td>
                    </tr>
                  </table>
                </td>
              <%- end -%>
            </tr>
          </table>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>
