<%= render :partial => 'common/scrum_sprint_menu' %>

<h2>
  <%= l(:label_sprint_board) %>
</h2>

<div id="messages"></div>

<%= render :partial => 'post_its/sprint_board/head',
           :locals => {:project => @project, :sprint => @sprint, :path => method(:sprint_path)} %>

<%- sprint_board_id = 'sprint_board' -%>
<%= render :layout => 'common/fullscreen_content' do %>
  <table class="sprint-board">
    <thead class="sprint-board">
      <tr class="sprint-board">
        <th class="sprint-board"><%= l(:label_pbi_plural) %></th>
        <%-
            # Param value = true => add a first status column to display lost tasks
            # (tasks with statuses not enabled in scrum board)
        -%>
        <%- # Add lost Tasks -%>
        <%- task_statuses = IssueStatus.task_statuses(true)
            task_statuses.each do |status|
              status_id = status.id ? status.id : 'lost'
              # To be able to hide / unhide column depending if lost tasks exist
              if status.id.nil?
                class_lost_task = ' lost-task'
                class_lost_task += ' no-lost-task' unless @sprint.has_lost_tasks?
              else
                class_lost_task = ''
              end
        -%>
          <%- # Added id to th, css class for lost Tasks -%>
          <th id="status_<%= status_id %>" class="sprint-board<%= class_lost_task %>"><%= status.name %></th>
        <%- end -%>
      </tr>
    </thead>
    <tbody id="<%= sprint_board_id %>" class="sprint-board">
    <%- @sprint.pbis.each do |pbi| -%>
      <%= render :partial => 'post_its/sprint_board/pbi_row', :formats => [:html],
                 :locals => {:project => @project,
                             :sprint_board_id => sprint_board_id,
                             :pbi => pbi,
                             :task_statuses => task_statuses} %>
    <%- end -%>
    </tbody>
  </table>

  <%= render :partial => 'post_its/sprint_board/footer',
             :locals => {:project => @project, :sprint => @sprint, :path => method(:sprint_path)} %>

  <%- if User.current.allowed_to?(:add_issues, @project) and
      User.current.allowed_to?(:edit_sprint_board, @project) and
      @sprint.open? -%>
    <div>
      <%- Tracker.pbi_trackers(@project).each do |tracker| -%>
      <span class="post-it settings-post-it <%= tracker.post_it_css_class %>">
        <%= link_to tracker.name, new_pbi_path(@sprint, tracker), :remote => true,
                    :method => 'GET', :class => 'icon icon-add' %>
      </span>
      <%- end -%>
    </div>
  <%- end -%>
<% end %>

<%= render :partial => 'sprints/show', :formats => [:js],
           :locals => {:sprint => @sprint,
                       :sprint_board_id => sprint_board_id} %>

<%= render :partial => 'common/scrum_footer' %>

<%- heads_for_wiki_formatter -%>
