<td width="250px">
  <div class="tabular">
    <p>
      <label><%= l(:label_count_of_pbis) %>:</label>
      <%= @stats[:pbis_count] %><br />
      <label><%= l(:label_total_sps) %>:</label>
      <%= @stats[:total_sps] %><br />
      <label><%= l(:label_closed_sps) %>:</label>
      <%= @stats[:closed_sps] %><br />
      <label><%= l(:label_percentage_closed_sps) %>:</label>
      <%= number_to_percentage(@stats[:percentage_closed_sps],
                               :precision => 1, :separator => '.') %>
    </p>
  </div>
</td>
